  <!DOCTYPE html>
  {% load static %}
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{% endblock title %}</title>
      <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(103126864, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/103126864" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      {% block extra_css %}{% endblock extra_css %}
      <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
      <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>
      <link rel="icon" href="{% static 'img/favicon.ico' %}">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light sticky-top topnavbar">
        <div class="container-fluid" style="max-width: 1100px;">
          <a class="navbar-brand logo-brand" href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Каталог
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for category in categories %}
                    <li class="dropdown-submenu position-relative">
                      <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                
                      {% with category.subcategory_1.all as subcategories %}
                      {% if subcategories %}
                        <ul class="dropdown-menu position-absolute start-100 top-0">
                          {% for subcat in subcategories %}
                            <li class="dropdown-submenu position-relative">
                              <a class="dropdown-item" href="{{ subcat.get_absolute_url }}">{{ subcat.name }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                      {% endwith %}
                    </li>
                  {% endfor %}
                </ul>              
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "main:about_us" %}">О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "main:guarentee" %}">Гарантии</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "main:contacts" %}">Контакты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-mobile" href="{% url 'main:favorite_list' %}">Избранное</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link nav-mobile" href="{% url "cart:cart_detail" %}">Корзина</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-mobile" href="{% url 'main:mobile_search' %}">Поиск</a>
                </li>
            </ul>
            <form class="collapse navbar-collapse justify-content-end">
              <ul class="navbar-nav d-flex align-items-center ms-0 ms-lg-3 mb-0">
                <li class="nav-item">
                  <a href="{% url 'main:favorite_list' %}">
                    <i class="fa-solid fa-heart"></i> 
                    {% if favorites_count > 0 %}
                        <span class="badge bg-danger badge-small">{{ favorites_count }}</span>
                    {% endif %}
                  </a>              
                </li>
                <li class="nav-item">
                  <a href="{% url "cart:cart_detail" %}" class="nav-link">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                </li>
              </ul>
            <input id="searchInput" class="form-control me-2 search-input mb-2 mb-lg-0" type="search" placeholder="Поиск.." aria-label="Search">
            <button id="searchButton" class="btn btn-outline-success button-search mb-2 mb-lg-0 button-search" type="button"><i class="fa-solid fa-magnifying-glass search-ico"></i></button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container d-flex " style="max-width: 1100px; margin-top: 50px;">
    {% include 'includes/telegram_button.html' %}
    {% block content %}{% endblock content %}
    </div>
    <footer class="footerreagent text-white">
      <div class="container">
        <form class="footer-subscribe-form">
          <p class="footer-text">Подпишитесь на нашу рассылку</p>
          <input type="email" class="form-control" placeholder="re_agent@example.ru">
          <button type="submit" class="btn button-subcribe px-4">
            Подписаться
          </button>
        </form>
      </div>

      <div class="footer-bottom">
        <p class="mb-0">
          © 2025 RE-AGENT. Не является публичной офертой. <a href="/">На главную</a>
        </p>
      </div>
    </footer>
    {% include 'main/includes/callback_widget.html' %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/callback.js' %}"></script>
    
    <!-- Виджет Talk-Me для чата и обратного звонка -->
    <script>
        (function(){(function c(d,w,m,i) {
            window.supportAPIMethod = m;
            var s = d.createElement('script');
            s.id = 'supportScript'; 
            var id = '96975f36f13d828c009f1dbc43485f01';
            s.src = (!i ? 'https://lcab.talk-me.ru/support/support.js' : 'https://static.site-chat.me/support/support.int.js') + '?h=' + id;
            s.onerror = i ? undefined : function(){c(d,w,m,true)};
            w[m] = w[m] ? w[m] : function(){(w[m].q = w[m].q ? w[m].q : []).push(arguments);};
            (d.head ? d.head : d.body).appendChild(s);
        })(document,window,'TalkMe')})();
    </script>
  </body>
  </html>
