@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


::-webkit-scrollbar {
    width: 6px; 
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5); 
    border-radius: 3px; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.8); 
}


* {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}


html{
    height: 100%;
}

body{
    font-family: "PT Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}


ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    padding: 0;
    color: black;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 42px;
    font-weight: bold;
}

h3{
    font-size: 36px;
}

h5{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.container{
    flex: 1;
}

.container-fluid{
    font-weight: 600;
}

.like-ico{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-ico{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-ico{
    display: flex;
    align-items: center;
    justify-content: center;
}


.search-input {
    border-radius: 30px;
    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
    overflow: hidden;
  }
  
.search-input.show {
    width: 200px; 
    opacity: 1;
  }

.button-search{
    display: flex;
    border-color: #707070;
    height: 38px;
    width: 38px;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    justify-content: center;
    align-items: center;
}

.button-search:hover{
    background-color: rgb(35 65 148);
    border-color: rgb(35 65 148);
}

.button-search:active{
    background-color: rgb(35 65 148) !important;
    border-color: rgb(35 65 148) !important;
}

.topnavbar{
    background-color: white;
    border-bottom: 2px solid #b3b3b3;
}

.footerreagent{
    margin-top: 300px;
    
}

.badge-small {
    font-size: 12px;  
    padding: 3px 6px;  
    line-height: 1;  
    min-width: 18px;  
    height: 18px;  
    display: inline-flex;
    position: relative;
    top:-3px;
    align-items: center;  
    justify-content: center;  
    border-radius: 50%;  
}

.navbar a {
    color: #6c757d; 
    transition: color 0.1s ease-in-out;
}

.navbar a:hover {
    color: rgb(35 65 148); 
}

.button-subcribe{
    border: none;
    background-color: rgb(35 65 148);
}

.button-subcribe:hover{
    border: none;
    background-color: rgb(25, 47, 105);
}

.button-subcribe:active{
    border: none;
    background-color: rgb(25, 47, 105) !important;
}