.container_products {
    display: flex;
    justify-content: center;
}

.cards_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: stretch;
}

.card {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%; 
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.card__image img {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.card__prices {
    min-height: 40px;
    margin: 10px 0;
}

.card__price--discount {
    color: rgba(0, 0, 0, 0.719);
    font-size: 18px;
    font-weight: bold;
}

.card__price--common {
    text-decoration: line-through;
    color: gray;
}

.card__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 40px;
    font-weight: 600;
    display: block;
    margin: 10px 0;
    color: #333;
    text-decoration: none;
    display: -webkit-box;
    min-height: 48px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card__func{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__add {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #234194;
    color: #fff;
    border: none;
    padding: 10px;
    width: 140px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 0;
    transition: background 0.2s ease-in-out;
}

.card__bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto; 
}

.description {
    flex-grow: 1; 
    min-height: 60px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.card__add:hover {
    background: #16285a;
}

.card__func a{
    color: #999999;
    transition: color 0.2s ease-in-out;
}

.card__func a:hover{
    color: #666666;
}

@media (max-width: 768px) {
    .cards_wrapper {
        grid-template-columns: repeat(2, 1fr); 
    }

    .card {
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }

    .card__image img {
        max-height: 150px;
        object-fit: contain;
    }
}
