*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.pot
*.py[cod]
*.egg-info/
dist/
build/
staticfiles/
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
*.env
*.local
settings.py

backend/media/product/фотка.jpg
backend/media/temp/NIE8083GE_documents.zip
