{% extends 'main/base.html' %}
{% load static %}
{% load product_extras %}

{% block title %}Главная - Re-Agent{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container flex-direction-column" style="max-width: 1100px;">
    <div id="carouselExampleInterval" class="carousel slide container-car" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{% static 'img/image_brand_1.png' %}" class="d-block w-100 image" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'img/image_brand_2.png' %}" class="d-block w-100 image" alt="...">
            </div>
        </div>
    </div>
    <div class="categories-container mt-3">
        <button class="prev-btn"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="next-btn"><i class="fa-solid fa-arrow-right"></i></button>
        <div class="categories-wrapper">
            {% for category in categories %}
                <a href="{{category.get_absolute_url}}" class="category_url">
                    <div class="category-box text-center">
                        <p class="m-0 category_name">{{ category.name }}</p>
                        {% if category.image %}
                            <img src="{{category.image.url}}" alt="category-image" class="category-image">
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="mt-5 out_brands">
            <h1>У нас только оригинальные товары</h1>
        </div>
        <div class="brands-wrapper">
            <div class="crm-platforms-logo">
                <div class="crm-platforms-logo__items">
                <img class="crm-platforms-logo__item" src="{% static 'img/3com.jpg' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/avaya.webp' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/bdcom.jpg' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/brocade.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/cisco.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/crucial.jpeg' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/hewlerd.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/ip-com.jpg' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/kingston.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/huawei.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/kuocera.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/NZC.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/rucus.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/yealink.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/3com.jpg' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/avaya.webp' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/bdcom.jpg' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/brocade.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/cisco.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/crucial.jpeg' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/hewlerd.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/ip-com.jpg' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/kingston.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/huawei.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/kuocera.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/NZC.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/rucus.png' %}" alt="">
                <img class="crm-platforms-logo__item" src="{% static 'img/yealink.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex mt-5 boxes">
        <div class="orders">
            <p>Доставляем все во время</p>
        </div>
        <div class="items_out">
            <p>Только надежные поставщики</p>
        </div>
        <div class="image_boxes">
            <img src="{% static 'img/image_box.png' %}" alt="">
        </div>
    </div>
    <h1 class="our_popular_products">Наши популярные товары</h1>
    <div class="container_products">
        <div class="cards_wrapper">
            {% for product in products  %}
                <div class="card">
                    <div class="card__top">
                        <a href="{{product.get_absolute_url}}" class="card__image">
                            <img src="{{product.image_1.url}}" alt="Продукт">
                        </a>
                    </div>
                    <div class="card__bottom">
                        <div class="card__prices">
                            {% if product.price_on_request %}
                                <div class="card__price card__price--discount">Цена по запросу</div> 
                            {% else %}
                                <div class="card__price card__price--discount">{{product.price|format_price}} ₽ </div>
                            {% endif %}
                        </div>
                        <a href="{{product.get_absolute_url}}" class="card__title">{{product.name}}</a>
                        <p class='description'>{{product.description}}</p>
                        <div class="card__func">
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="quantity" value="1">  
                                <button type="submit" class="btn btn-primary button-cart">В корзину</button>
                            </form>
                            {% if product.id in favorites %}
                            <a href="{% url 'main:remove_from_favorites' product.id %}">
                                <i class="fa-solid fa-xmark"></i> 
                            </a>
                            {% else %}
                            <a href="{% url 'main:add_to_favorites' product.id %}">
                                <i class="fa-solid fa-heart favorites"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

