{% extends "main/base.html" %}
{% load static %}
{% load product_extras %}

{% comment %} {% block title %}Товары категории - {{ category.name }} - Re-Agent{% endblock title %} {% endcomment %}
{%block title%} {{category.name}} {%endblock title%}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/category_list.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <aside class="col-md-3 filter-container">
            <h5 class="mb-3">Фильтр</h5>
            <form id="filter-form">
                <div class="accordion" id="filtersAccordion">
                    {% for field, values in filters.items %}
                        {% with safe_field=field|slugify %}
                        <div class="accordion-item" data-filter-name="{{field|lower}}">
                            <h2 class="accordion-header" id="heading{{ safe_field }}-{{ forloop.counter }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ safe_field }}-{{ forloop.counter }}" aria-expanded="false"
                                    aria-controls="collapse{{ safe_field }}-{{ forloop.counter }}">
                                    {{ field }}
                                </button>
                            </h2>
                            <div id="collapse{{ safe_field }}-{{ forloop.counter }}" class="accordion-collapse collapse"
                                aria-labelledby="heading{{ safe_field }}-{{ forloop.counter }}">
                                <div class="accordion-body">
                                    {% for value in values %}
                                        <div class="form-check">
                                            <input class="form-check-input checkbox-css" type="checkbox" name="{{ field }}" value="{{ value }}" data-filter-parent="{{field|lower}}" data-filter-value="{{value|lower}}"/>
                                            <label class="form-check-label">{{ value }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endwith %}
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3 btn-accept">Применить</button>
            </form>
        </aside>
        <div class="col-md-9">
            <div class="container_products">
                <div class="cards_wrapper">
                    {% if products %}
                        {% for product in products %}
                        <div class="card">
                            <div class="card__top">
                                <a href="{{ product.get_absolute_url }}" class="card__image">
                                    <img src="{{ product.image_1.url }}" alt="Продукт">
                                </a>
                            </div>
                            <div class="card__bottom">
                                <div class="card__prices">
                                    {% if product.price_on_request %}
                                        <div class="card__price card__price--discount">Цена по запросу</div> 
                                    {% else %}
                                        <div class="card__price card__price--discount">{{product.price|format_price}} ₽ </div>
                                    {% endif %}
                                </div>
                                <a href="{{ product.get_absolute_url }}" class="card__title">{{ product.name }}</a>
                                <p class="description">{{ product.description }}</p>
                                <div class="card__func">
                                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="quantity" value="1">
                                        <button type="submit" class="btn btn-primary button-cart">В корзину</button>
                                    </form>
                                    <a href="{% url 'main:add_to_favorites' product.id %}">
                                        <i class="fa-solid fa-heart favorites"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="no-products-message text-center">
                            <strong>По выбранным фильтрам товаров нет.</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/category.js' %}"></script>
{% endblock content %}
