{% extends "main/base.html" %}
{% load static %}
{% load product_extras %}

{% block title %}Товар - {{product.name}} - Re-Agent{% endblock title %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/detail_product.css' %}">{% endblock extra_css %}
{% block content %}
<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="main-image-box">
                <img id="main-image" src="{{ product.image_1.url }}" class="img-fluid product-image" alt="Товар">
            </div>
            <div class="thumbnail-images mt-2">
                <img src="{{ product.image_1.url }}" class="img-thumbnail" onclick="changeMedia('image', '{{ product.image_1.url }}')">
                <img src="{{ product.image_2.url }}" class="img-thumbnail" onclick="changeMedia('image', '{{ product.image_2.url }}')">
                <img src="{{ product.image_3.url }}" class="img-thumbnail" onclick="changeMedia('image', '{{ product.image_3.url }}')">
                {% if product.video %}
                    <img src="{% static 'img/video_placeholder.png' %}" class="img-thumbnail" onclick="openModal('{{ product.video.url }}')" alt="Видео">
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
        <div class="product-info-box">
            <h1 class="product-title">{{product.name}}</h1>
            <p class="product-code">Код товара: {{product.id}}</p>

            {% if product.available == 'in_stock' %}
                <span class="text-success d-flex align-items-center gap-2">
                    <i class="fa-solid fa-box"></i>
                    <strong>В наличии</strong>
                </span>
            {% elif product.available == 'by_order' %}
                <span class="text-warning d-flex align-items-center gap-2">
                    <i class="fa-solid fa-circle-exclamation icon_order"></i>
                    <strong>Под заказ</strong>
                </span>
            {% else %}
                <span class="text-danger d-flex align-items-center gap-2">
                    <i class="fa-solid fa-circle-xmark"></i>
                    <strong>Нет в наличии</strong>
                </span>
            {% endif %}

            <div class="text-muted mt-1 small">Остаток: {{ product.available_quantity|format_price}} шт.</div>

            <div class="product-price-box p-3 mt-2 border rounded">
                {% if product.price_on_request %}
                    <h2 class="product-price">Цена по запросу</h2>
                {% else %}
                    <h2 class="product-price">{{product.price|format_price}} ₽</h2>
                {% endif %}
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="btn btn-primary w-100 button-cart">В корзину</button>
                </form>
                <button class="btn btn-primary w-100 mt-2 btn-quick" data-bs-toggle="modal" data-bs-target="#quickOrderModal">
                    Быстрый заказ
                </button>
            </div>

            <div class="additional_func p-3">
                <a href="{% url "main:add_to_favorites" product.id %}" class="favorite_ico">
                    <i class="fa-regular fa-heart"></i>
                    В избранное
                </a>
            </div>
        </div>
        </div>
    </div>
    <div class="info-section">
        <h2>Описание и характеристики</h2>
        <p>{{product.description}}</p>
    </div>
    <div class="info-section">
        <h2>Технические характеристики</h2>
        <ul>
            {% for key, value in product.specifications.items %}
                <li><strong>{{ key }}:</strong> {{ value }}</li>
            {% empty %}
                <li>Характеристики не добавлены</li>
            {% endfor %}
        </ul>
    </div>
    <div class="info-section">
        <h2>Комплектация</h2>
        <ul>
            {% if product.complectation %}
                {% for item in product.complectation|split_complectation %}
                    <li><strong>•</strong> {{ item.strip }}</li>
                {% endfor %}
            {% else %}
                <li>Комплектация не добавлена</li>
            {% endif %}
        </ul>
    </div>
    <div class="info-section">
        <h2>Документация</h2>
        <ul>
            {% if product.certificate_diller %}
                <li><span class="text-succes"><strong><a href="{{ product.certificate_diller.url }}">Сертификат</a></strong></span></li>
            {% else %}
                <li><span class="text-muted">Сертификат не добавлен</span></li>
            {% endif %}
            {% if product.certificate_two %}
                <li><span class="text-succes"><strong><a href="{{ product.certificate_two.url }}">Сертификат</a></strong></span></li>
            {% else %}
                <li><span class="text-muted">Сертификат не добавлен</span></li>
            {% endif %}
            {% if product.certificate_tree %}
                <li><span class="text-succes"><strong><a href="{{ product.certificate_tree.url }}">Сертификат</a></strong></span></li>
            {% else %}
                <li><span class="text-muted">Сертификат не добавлен</span></li>
            {% endif %}
            {% if product.guarantee %}
                <li><span class="text-succes"><strong><a href="{{ product.guarantee.url }}">Гарантийный талон</a></strong></span></li>
            {% else %}
                <li><span class="text-muted">Гарантийный талон не добавлен</span></li>
            {% endif %}
            <li><a href="{% url 'main:download_all_docs' product.id %}">Скачать всю документацию</a></li>
        </ul>
    </div>
    
</div>
{% comment %} <div id="videoModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <video id="modal-video" controls class="img-fluid">
            <source id="modal-video-source" src="" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
    </div>
</div> {% endcomment %}

<div class="modal fade" id="quickOrderModal" tabindex="-1" aria-labelledby="quickOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quickOrderModalLabel">Быстрый заказ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center mb-3">
                    <img src="{{ product.image_1.url }}" alt="{{ product.name }}" class="img-thumbnail" width="80">
                    <div class="ms-3">
                        <h5 class="mb-1">{{ product.name }}</h5>
                        <p class="text-muted mb-0">{{ product.price }}|format_price ₽</p>
                    </div>
                </div>
                <form id="quick-order-form">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Количество</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-outline-secondary" id="decrease-qty">➖</button>
                            <input type="number" name="quantity" id="quantity" class="form-control text-center" value="1" min="1">
                            <button type="button" class="btn btn-outline-secondary" id="increase-qty">➕</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="id_first_name" class="form-label">Имя</label>
                        <input type="text" name="first_name" id="id_first_name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_phone_number" class="form-label">Телефон</label>
                        <input type="text" name="phone_number" id="id_phone_number" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_email" class="form-label">Email</label>
                        <input type="email" name="email" id="id_email" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 btn-quick-form">Оформить заказ</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#quick-order-form").on("submit", function (e) {
        e.preventDefault();
        var formData = $(this).serialize();  
        
        $.ajax({
            type: "POST",
            url: "{% url 'orders:quick_order' %}",
            data: formData,
            success: function (response) {
                alert(response.message);  
                $("#quickOrderModal").modal("hide");  
            },
            error: function (xhr) {
                alert(xhr.responseJSON.message); 
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const quantityInput = document.getElementById("quantity");
        const decreaseBtn = document.getElementById("decrease-qty");
        const increaseBtn = document.getElementById("increase-qty");

        decreaseBtn.addEventListener("click", function () {
            let currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        });

        increaseBtn.addEventListener("click", function () {
            quantityInput.value = parseInt(quantityInput.value) + 1;
        });
    });

    function openModal(videoUrl) {
        const modal = document.getElementById('videoModal');
        const modalVideo = document.getElementById('modal-video-source');
        const videoElement = document.getElementById('modal-video');
        
        modalVideo.src = videoUrl;
        videoElement.load();
        modal.style.display = 'block';
        videoElement.play();
    }

    function closeModal() {
        const modal = document.getElementById('videoModal');
        const videoElement = document.getElementById('modal-video');

        modal.style.display = 'none';
        videoElement.pause();
        videoElement.currentTime = 0;
    }

    window.onclick = function(event) {
        const modal = document.getElementById('videoModal');
        if (event.target === modal) {
            closeModal();
        }
    }

    function changeMedia(type, url){
        if (type=='image'){
            document.getElementById('main-image').src = url;
        }
    }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const modal = document.getElementById("quickOrderModal");
    document.body.appendChild(modal);
  });
</script>

{% endblock content %}