{% extends "main/base.html" %}
{% load static %}
{% load product_extras %}

{% block title %}Поиск товаров - Re-Agent{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/mobile_search.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container mt-3">
    <h2 class="text-center">Поиск товаров</h2>

    <form method="GET" action="{% url 'main:mobile_search' %}" class="d-flex mb-3">
        <input type="text" name="q" class="form-control" placeholder="Введите название товара..." value="{{ query }}">
        <button type="submit" class="btn btn-primary ms-2 btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    {% if results %}
        <div class="row">
            <div class="container_products">
                <div class="cards_wrapper">
                    {% for product in results %}
                        <div class="card">
                            <div class="card__top">
                                <a href="{{ product.get_absolute_url }}" class="card__image">
                                    <img src="{{ product.image_1.url }}" alt="{{ product.name }}">
                                </a>
                            </div>
                            <div class="card__bottom">
                                <div class="card__prices">
                                    <div class="card__price card__price--discount">
                                        {{ product.price|format_price }} ₽
                                    </div>
                                </div>
                                <a href="{{ product.get_absolute_url }}" class="card__title">
                                    {{ product.name }}
                                </a>
                                <p class="description">{{ product.description }}</p>
                                <div class="card__func">
                                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="quantity" value="1">
                                        <button type="submit" class="btn btn-primary button-cart">
                                            В корзину
                                        </button>
                                    </form>
                                    <a href="{% url 'main:add_to_favorites' product.id %}">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>            
        </div>
    {% else %}
        <p class="text-center text-muted">Ничего не найдено</p>
    {% endif %}
</div>
{% endblock %}
