{% extends "main/base.html" %}
{% load static %}

{% block title %}Товар - {{product.name}}{% endblock title %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/detail_product.css' %}">{% endblock extra_css %}
{% block content %}
<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="main-image-box">
                <img id="main-image" src="{{ product.image_1.url }}" class="img-fluid product-image" alt="Товар">
            </div>
            <div class="thumbnail-images mt-2">
                <img src="{{ product.image_1.url }}" class="img-thumbnail" onclick="changeMedia('image', '{{ product.image_1.url }}')">
                <img src="{{ product.image_2.url }}" class="img-thumbnail" onclick="changeMedia('image', '{{ product.image_2.url }}')">
                <img src="{{ product.image_3.url }}" class="img-thumbnail" onclick="changeMedia('image', '{{ product.image_3.url }}')">
                {% if product.video %}
                    <img src="{% static 'img/video_placeholder.png' %}" class="img-thumbnail" onclick="openModal('{{ product.video.url }}')" alt="Видео">
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="product-title">{{product.name}}</h1>
            <p class="product-code">Код товара: {{product.id}}</p>
            <div class="product-price-box p-3 border rounded">
                <h2 class="product-price">{{product.price}} ₽</h2>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="btn btn-primary w-100 button-cart">В корзину</button>
                </form>
                <button class="btn btn-light w-100 mt-2">Быстрый заказ ( недоступно )</button>
            </div>
            <div class="additional_func p-3">
                <a href="#" class="favorite_ico">
                    <i class="fa-regular fa-heart"></i>
                    В избранное
                </a>
                <a href="#" class="diagram_ico" style="margin-left: 20px;">
                    <i class="fa-solid fa-chart-column"></i>
                    Добавить в сравнение
                </a>
            </div>
        </div>
    </div>

    <div class="info-section">
        <h2>Описание и характеристики</h2>
        <p>{{product.description}}</p>
    </div>
    <div class="info-section">
        <h2>Технические характеристики</h2>
        <ul>
            {% for key, value in product.specifications.items %}
                <li><strong>{{ key }}:</strong> {{ value }}</li>
            {% empty %}
                <li>Характеристики не добавлены</li>
            {% endfor %}
        </ul>
    </div>
    <div class="info-section">
        <h2>Комплектация</h2>
        <ul>
            {% for key, value in product.complectation.items %}
                <li><strong>{{ key }}:</strong> {{ value }}</li>
            {% empty %}
                <li>Комплектация не добавлена</li>
            {% endfor %}
        </ul>
    </div>
    <div class="info-section">
        <h2>Документация</h2>
        <ul>
            {% if product.certificate_diller %}
                <li><a href="{{product.certificate_diller.url}}">Сертификат дилера</a></li>
            {% else %}
                <li>Сертификат дилера не добавлен</li>
            {% endif %}
            {% if product.guarantee %}
                <li><a href="{{product.guarantee.url}}">Гарантийный талон</a></li>
            {% else %}
                <li> Гарантийный талон не добавлен</li>
            {% endif %}
            <li><a href="#">Скачать всю документацию</a></li>
        </ul>
    </div>
</div>
<div id="videoModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <video id="modal-video" controls class="img-fluid">
            <source id="modal-video-source" src="" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
    </div>
</div>

<script>
    function openModal(videoUrl) {
        const modal = document.getElementById('videoModal');
        const modalVideo = document.getElementById('modal-video-source');
        const videoElement = document.getElementById('modal-video');
        
        modalVideo.src = videoUrl;
        videoElement.load();
        modal.style.display = 'block';
        videoElement.play();
    }

    function closeModal() {
        const modal = document.getElementById('videoModal');
        const videoElement = document.getElementById('modal-video');

        modal.style.display = 'none';
        videoElement.pause();
        videoElement.currentTime = 0;
    }

    window.onclick = function(event) {
        const modal = document.getElementById('videoModal');
        if (event.target === modal) {
            closeModal();
        }
    }
</script>
{% endblock content %}