{% extends "main/base.html" %}
{% load static %}

{% block title %}Товары под-подкатегории - {{ subcategory_2.name }}{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/category_list.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Фильтр -->
        <aside class="col-md-3 filter-container">
            <h5 class="mb-3">Фильтр</h5>
            <form id="filter-form">
                <div class="accordion" id="filtersAccordion">
                    {% for field, values in filters.items %}
                        {% with safe_field=field|slugify %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ safe_field }}-{{ forloop.counter }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ safe_field }}-{{ forloop.counter }}" aria-expanded="false"
                                    aria-controls="collapse{{ safe_field }}-{{ forloop.counter }}">
                                    {{ field }}
                                </button>
                            </h2>
                            <div id="collapse{{ safe_field }}-{{ forloop.counter }}" class="accordion-collapse collapse"
                                aria-labelledby="heading{{ safe_field }}-{{ forloop.counter }}">
                                <div class="accordion-body">
                                    {% for value in values %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="{{ field }}" value="{{ value }}"
                                                id="{{ safe_field }}-{{ value }}-{{ forloop.parentloop.counter }}">
                                            <label class="form-check-label" for="{{ safe_field }}-{{ value }}-{{ forloop.parentloop.counter }}">{{ value }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endwith %}
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3">Применить</button>
            </form>
        </aside>
        <div class="col-md-9">
            <div class="container_products">
                <div class="cards_wrapper">
                    {% for product in products %}
                    <div class="card">
                        <div class="card__top">
                            <a href="{{product.get_absolute_url}}" class="card__image">
                                <img src="{{product.image_1.url}}" alt="Продукт">
                            </a>
                        </div>
                        <div class="card__bottom">
                            <div class="card__prices">
                                <div class="card__price card__price--discount">{{product.price}} ₽</div>
                            </div>
                            <a href="{{product.get_absolute_url}}" class="card__title">{{product.name}}</a>
                            <p class='description'>{{product.description}}</p>
                            <div class="card__func">
                                <button class="card__add">В корзину</button>
                                <a href="#"><i class="fa-solid fa-heart"></i></a>
                                <a href="#"><i class="fa-solid fa-chart-bar"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/category.js' %}"></script>
{% endblock content %}
